  <div class="transfer__form__box" >
 
    <form class="transfer__form"
          
          name="transferForm" 
          ng-submit="$ctrl.sendMoney(transaction);"
          >

        <h3 style="margin-left: 8px; font-size: 30px; color: white; border-bottom:  rgba(0, 0, 0, .05) 1px solid; padding-bottom: 10px;">Make a Transfer</h3>
    
        <input 
            
          name="recipient" 
          type="text" 
          ng-model="$ctrl.transaction.recipient"
          ng-model-options="{ updateOn: 'blur' }" 
          placeholder="Enter the recipient"
          required
          />
      <br/>

        <select class="special__select" ng-model="$ctrl.transaction.account"> 
          <option value="main">Main Account</option>
          <option value="secret">Secret Account</option>
          <option value="revolut">Revolut</option>
          <option value="reiffeisen">Reiffeisen Bank</option>
        </select> 
  
      <br/>
  
        <input 
          name="amount" 
          type="number" 
          ng-model="$ctrl.transaction.amount"
          ng-model-options="{ updateOn: 'blur' }" 
          placeholder="Enter amount"
          required/>
      <br />

      <input 
          name="date" 
          type="date" 
          ng-model="$ctrl.transaction.date"
          ng-model-options="{updateOn: 'blur'}" 
          required/>
      
      </label>
      <br/ >

      <button 
          id="sendMoney"
          type="submit" >
        Submit</button> 

    </form>
  </div>
  