<div class="home__page">
    <header class="header">
        <div class="header__fixed">
            <div>
                <div class="header__brand">
                    <img class="header__logo" src="/img/logo.png">
                </div>
                <div class="header__logout">
                    {{ user.email }}
                    <a href="" ng-click="logout();">
                        <span class="header__button">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div>
        <transfer-form-component></transfer-form-component>
        <ui-view></ui-view>
    </div>

</div>
