<div class="container transactions__list">

  <div class="transactions__options">
    <tr class="transactions__options">

      <input class="transactions__options" type='text' ng-model='searchTransaction'
        placeholder="Looking for a transaction?" style="margin:10px;"/>

      <button class="sort__button" ng-click="sortBy('recipient')" style="margin:10px;">Name</button>
      <span class="sortorder transactions__options" ng-show="propertyName === 'recipient'"
        ng-class="{reverse: reverse}"></span>


      <button class="sort__button" ng-click="sortBy('date')" style="margin:10px;">Date</button>
      <span class="sortorder transactions__options" ng-show="propertyName === 'date'"
        ng-class="{reverse: reverse}"></span>


      <button class="sort__button" ng-click="propertyName = null; reverse = false" style="margin:10px;">Reset</button>

    </tr>
  </div>

  <h3 style="text-align: left">Transactions</h3>
  <div class="row panel-heading bgOrg" style="text-align:center;">
    <div class="col-sm-1">#</div>
    <div class="col-sm-2">ID</div>
    <div class="col-sm-2" style="width:230px;">Recipient</div>
    <div class="col-sm-2" style="width:180px;">Amount</div>
    <div class="col-sm-2">Date</div>
  </div>

  <div ng-repeat="transaction in $ctrl.transactions | filter:searchTransaction | orderBy:propertyName:reverse"
    style="text-align:center;">
    <div class="row panel panel-body">
      <div class="col-xs-1">
        <div class="handpointer glyphicon glyphicon-chevron-right" ng-init="toggle[$index] = false"
          ui-sref="home.transaction-detail({id : transaction.id})">
        </div>
      </div>
      <div class="col-sm-2" style="text-align: center" ng-bind="transaction.id"></div>
      <div class="col-sm-2" style="text-align: center; width:230px;" ng-bind="transaction.recipient"></div>
      <div class="col-sm-2" style="text-align: center; width:180px;" ng-bind="transaction.amount"></div>
      <div class="col-sm-2" style="text-align: center" ng-bind="transaction.date"></div>
    </div>
  </div>
</div>

</div>